<html>
  <head>
    <link
      rel="stylesheet"
      href="/<%=htmlWebpackPlugin.files.chunks.main.css %>"
    />
    <link
      rel="stylesheet"
      href="https://cdn.materialdesignicons.com/2.7.94/css/materialdesignicons.css?v=6.4.5"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
  </head>
  <body>
    <script src="/<%= htmlWebpackPlugin.files.chunks.main.entry %>"></script>
  </body>
  <div id="root"></div>
</html>
